extends layout

block content
  div.col-md-12
      <!--button.btn-primary.btn.btn-lg#btn_continuar Continuar-->
      h3  La vendimia
      hr
      div.panel.panel-primary
          div.panel-heading
              h3.panel-title Ventas
          div.panel-body
              div.row
                div.col-md-12
                    div.col-md-2
                        label Ingrese el nombre
                    div.col-md-10.text-left
                        input(placeholder="Your name" class="form-control text-left" name="username" autofocus)
              button.btn.btn-lg.btn-success.text-right Siguiente